
{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block content %}
  <div class="container">
    <div class="row">
    <div class="jumbotron">
      <h1>cowsay.cloud</h1>
        <p>Providing web-scale, dynamic, ASCII-standard compliant graphics in a multitude of formats to
            integrate with all business needs.</p>
        <p>Visit <a href="/say">/say</a> or <a href="/say/<message>">/say/&lt;message&gt;</a> for your very own bespoke message.</p>
        <p><a href="https://github.com/aginor/cowsay-as-a-service">Grab the Source</a></p>
    </div>
   </div>
  </div>
 {% include "cow.html" %}
{%- endblock %}

