{#
Copyright 2017 Andreas Löf <andreas@alternating.net>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
#}

{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}


{% block content %}
    <div class="container">
        <div class="center-block">
            <div class="jumbotron">
                <div class="row">

                    <h1>cowsay.io</h1>
                    <p>Providing web-scale, dynamic, ASCII-standard compliant graphics in a multitude of formats to
                        integrate with all business needs.</p>
                    <p>Visit <a href="/say">/say</a> or <a href="/say/<message>">/say/&lt;message&gt;</a> for your very
                        own bespoke message.</p>
                    <p><a href="https://github.com/aginor/cowsay-as-a-service">Grab the Source</a></p>
                </div>

                <div class="row">

                    <div class="col-md-offset-3 col-md-5 col-md-offset-3">
                        <pre>
{{ cow }}
                        </pre>
                    </div>
                </div>
                <div class="row">
                    <h3>API</h3>
                    <table class="table table-bordered">
                        <tr>
                            <th>Endpoint</th>
                            <th>Content type</th>
                            <th>Description</th>
                        </tr>
                        <tr>
                            <td>/say/[message]</td>
                            <td>text/html</td>
                            <td>A pretty bootstrapified cow saying the message. The message is optional and defaults to "moo"</td>
                        </tr>
                        <tr>
                            <td>/say/[message]</td>
                            <td>text/plain</td>
                            <td>A plaintext cow saying the message. The message is optional and defaults to "moo"</td>
                        </tr>
                        <tr>
                            <td>/say/[message]</td>
                            <td>application/json</td>
                            <td>A JSON object containing the cow saying the message. The cow is an array of strings stored in the key "<b>message</b>".
                                The message is optional and defaults to "moo"</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{%- endblock %}

